asgiref==3.9.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
diff-match-patch==20241021
dj-rest-auth==7.0.1
Django==5.2.4
django-allauth==65.10.0
django-cors-headers==4.7.0
django-extensions==4.1
django-filter==25.1
django-import-export==4.3.8
django-recaptcha==4.1.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
idna==3.10
mysqlclient==2.2.7
oauthlib==3.3.1
parse==1.20.2
pillow==11.3.0
pycparser==2.22
pygraphviz==1.14
PyJWT==2.9.0
python-dotenv==1.1.1
requests==2.32.4
requests-oauthlib==2.0.0
sql==2022.4.0
sqlparse==0.5.3
tablib==3.8.0
urllib3==2.5.0
